/* background gradient color */
.gradient-background {
    background: linear-gradient(300deg, #ef8989, #c7b7ba, #ef8989);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    min-height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Slow Motion for image */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  /* -----------------------------------------------About Me -----------------------------------------------*/

  .image-container {
    animation: slideIn 1.5s ease-out; /* Adjust the duration and easing as needed */
  }
  
  #aboutMe > div > div > div.col-12.col-sm-12.col-lg-6 > img {
    /* border-radius: 10%; */
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), 10px -10px 5px rgba(8, 8, 8, 0.5);
  }
  #aboutMe > div > div > div:nth-child(2) > h1 {
    font-family: "Bree Serif", serif;
    font-family: "Libre Baskerville", serif;
    color: white !important;
    font-weight: normal !important;
  }
  .fw-bold {
    font-weight: normal !important;
  }
  #aboutMe > div > div > div:nth-child(2) > p {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 900;
  }
  #aboutMe > div > div > div:nth-child(2) > p span {
    color: rgb(53, 2, 15);
    font-weight: 600;
  }


 /*-------------------------------------------------------Navbar--------------------------------------------- */

 #navbar > div > nav > div > a > svg{
    margin-left: 30px;
  }
  #navbarSupportedContent > ul .nav-item .nav-link {
    color: rgb(53, 2, 15);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    /* background-color: rgb(243, 234, 236); */
    padding: 10px; 
    border-radius: 10px;
    margin: 10px;
    letter-spacing: 2px;
  }
  #navbarSupportedContent > ul .nav-item .nav-link:hover{
    font-size: 18px;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 2px;
  }


  /*-------------------------------------------------------projects------------------------------------------- */

#projects{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #hanging-icons > div > div {
    /* border: 2px solid; */
    padding: 30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f3edec;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), 10px -10px 5px rgba(0, 0, 0, 0.5);
  }
  #hanging-icons > div > div:hover{
    background-color:  rgb(248, 218, 225);
    border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      transition: 0.9s;
  } 
  .title{
    font-family: "Bree Serif", serif;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    color: rgb(53, 2, 15) !important;
    letter-spacing: 3px;
    font-style: italic;
    font-size: 25px;
    text-align: center;
  }
  #hanging-icons > div > div >div > h3{
    font-weight: 800;
    color: rgb(53, 2, 15) !important;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 3px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    /* font-style: italic; */
  }
  #hanging-icons > div > div >div > p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    line-height: 30px;
    font-style: italic;
  }
  .technologiesUsedText{
    border-width:0;
  }
  #hanging-icons > div > div >div > a{
    background-color:  rgb(53, 2, 15);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 15px;
    font-family: "Nunito Sans", sans-serif;
  }
  #hanging-icons > div > div.col-12.col-sm-12.col-md-12.col-lg-5.d-flex.align-items-start.text-center > div > a{
    margin-top: 20px;
  }
  #hanging-icons > div > div.col-12.col-sm-12.col-md-12.col-lg-5.d-flex.align-items-start.text-center > div > div > p >button{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 3px;
    color: rgb(53, 2, 15);
    font-style: italic;
  } 
  .collapse > div{
    /* background-color:rgb(240, 210, 210); */
    background-color: transparent;
    border: none;
    border-radius: 50px;
  }
  .collapse > div >p{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px !important;
    font-weight: 800;
  }
  .collapse > div >p >span{
   font-size: 18px;
   color: rgb(53, 2, 15);
  }
  .card {
    --bs-card-bg: initial;
    --bs-card-border-color: initial;
  }
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(40%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .collapse .card-body p:first-child {
    animation: slideInLeft 1.5s ease-out; /* Adjust the duration and easing as needed */
  }
  
  .collapse .card-body p:last-child {
    animation: slideInRight 1.5s ease-out; /* Adjust the duration and easing as needed */
  }


  /* ------------------------------------------------------Skills--------------------------------------------- */

#skills {
    margin-top: 100px;
    margin-bottom: 50px;
    }
    #skills > div >div > div.col-lg-1 {
      /* Existing styles */
      display: grid;
      place-items: center;
    }
    #skills > div > div > div img {
      padding: 10px; /* Adjust the value as needed */
    }
    #skills > div > div > div img:hover {
      transform: scale(1.5); /* Increase size by 20% on hover */
      transition: transform 0.3s ease-in-out; /* Smooth transition effect */
    }

    /*-----------------------------------------------------contact-------------------------------------------- */
#contact{
    background-color: #c66756;
    padding-top: 20px;
  }
  #contact > div > footer > div > span{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #contact > div > footer > ul > li{
    padding: 10px;
  }
  #contact > div > footer > ul > li > a > svg{
  color:rgb(53, 2, 15);
  }
  #contact > div > footer > ul > li > a > svg:hover{
    transform: translateY(-20px);
    transition: 0.3s;
    
  }
  #contact > div > footer > div > span > u{
   color:rgb(53, 2, 15);
  }
  #contact > div > footer > div > span > svg{
  color: rgb(53, 2, 15);;
  }
  .send-button{
    margin-top: 20px;
        font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .form-group{
    margin-top: 10px;
  }
  label{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
  }
  